<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-7 post-preview-container">
    <div class="row">
      <% @posts.reverse.each do |p| %>
        <div class="col-lg-12 post-preview">
          <h1><%= p.title %></h1>
          <h5><%= time_ago_in_words(p.created_at) %> ago</h5>
          <p><%= p.content %></p>
        </div>
      <% end %>
    </div>
  </div>

</div>